Django==1.8.2
Werkzeug==0.10.4
colorama==0.2.7
django-extensions==1.5.5
django-geojson==2.8.0
django-leaflet==0.16.0
factory-boy==2.5.2
geojson==1.0.9
ipython==3.1.0
logilab-common==0.63.2
psycopg2==2.6
py==1.4.28
pyodbc==3.0.10
pyreadline==2.0
pytest==2.7.1
pytest-django==2.8.0
pytz==2013.7
six==1.9.0
