{% load humanize %}
<table class="tablesorter table table-condensed" id="myTable">
    <thead>
        <tr>
            <th>TAGID</th>
            <th>Species</th>
            <th>Date</th>
            <th>Grid</th>
            <th>Type</th>
            <th>Colour</th>
            <th>Origin</th>
            <th>TagStat</th>
            <th class="metric">Length <br /> (mm)</th>
            <th class="imperial">Length <br />(in)</th>
            <th class="metric">Weight <br />(g)</th>
            <th class="imperial">Weight <br />(lbs)</th>
        </tr>
    </thead>
    <tbody>
        {% for object in encounter_list %}
            <tr>
                <td> <a href="{% url 'tfat:tagid_detail_view' tagid=object.tagid %}">{{object.tagid}}</a> </td>
                <td> {{ object.species.spc_nmco }} </td>
                <td> {{ object.observation_date|date:"M d, Y" }} </td>
                <td> {{ object.grid }} </td>
                <td> {{ object.tag_type }} </td>
                <td> {{ object.tag_colour }} </td>
                <td> {{ object.tag_origin }} </td>
                <td> {{ object.tagstat }} </td>
                <td class="metric"> {{ object.tlen|intcomma }} </td>
                <td class="imperial"> {{ object.tlen_inches }} </td>
                <td class="metric"> {{ object.rwt|intcomma }} </td>
                <td class="imperial"> {{ object.pounds }} </td>
            </tr>
        {% endfor%}

        {% for object in angler_recaps %}
            <tr>
                <td> <a href="{% url 'tfat:tagid_detail_view' tagid=object.tagid %}">{{object.tagid}}</a> </td>
                <td> {{ object.species.spc_nmco }} </td>
                <td> {{ object.observation_date|date:"M d, Y" }} </td>
                <td> {{ object.grid }} </td>
                <td> {{ object.tag_type }} </td>
                <td> {{ object.tag_colour }} </td>
                <td> {{ object.tag_origin }} </td>
                <td> {{ object.tagstat }} </td>
                <td class="metric"> {{ object.tlen|intcomma }} </td>
                <td class="imperial"> {{ object.tlen_inches }} </td>
                <td class="metric"> {{ object.rwt|intcomma }} </td>
                <td class="imperial"> {{ object.pounds }} </td>
            </tr>
        {% endfor%}
    </tbody>
</table>
