{% load humanize %}

<table class="tablesorter table table-condensed" id="myTable">
    <thead>
        <tr>
            <th>TagID</th>
            <th>Species</th>
            <th>Date</th>
            <th>Grid</th>
            <th>Type</th>
            <th>Colour</th>
            <th>Origin</th>
            <th>TagStat</th>
            <th class="metric">Length <br /> (mm)</th>
            <th class="imperial">Length <br />(in)</th>
            <th class="metric">Weight <br />(g)</th>
            <th class="imperial">Weight <br />(lbs)</th>
            <th>Project Code</th>
            <th>Project Name</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                <td> <a href="{% url 'tfat:tagid_detail_view' tagid=object.tagid %}">{{object.tagid}}</a> </td>
                <td> {{ object.spc.common_name }} </td>
                <td> {{ object.observation_date }} </td>
                <td> {{ object.grid }} </td>
                <td> {{ object.tag_type }} </td>
                <td> {{ object.tag_colour }} </td>
                <td> {{ object.tag_origin }} </td>
                <td> {{ object.tagstat }} </td>
                <td class="metric"> {{ object.tlen|intcomma }} </td>
                <td class="imperial"> {{ object.tlen_inches }} </td>
                <td class="metric"> {{ object.rwt|intcomma }} </td>
                <td class="imperial"> {{ object.pounds }} </td>
                <td><a href="{% url 'tfat:tags_applied_in_project' object.project.slug %}">{{ object.project.prj_cd }}</a> </td>

                <td> {{ object.project.prj_nm }} </td


            </tr>
        {% endfor%}
    </tbody>
</table>
