{% extends "tfat/tfat_base.html" %}

{% load leaflet_tags %}

{% block extrahead %}

  {% leaflet_js %}
  {% leaflet_css %}

  <script src="/static/Leaflet.MakiMarkers.js"></script>


<style>

    #mymap {  /* all maps */
        width:  700px;
        height: 600px;
    }

</style>


{% endblock %}


{% block content %}
<div class="container">

    {% if report_a_tag == True %}
    <div class="alert alert-info" role="alert">
        <h3>Step 2 - To create a new report click on the "Create New Report" button</h3>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-9" >
            <h2>Tag Reports Filed By {{ angler }}</h2>
        </div>

        {% if user.is_authenticated %}
            <div class="col-md-3" >
                {% if report_a_tag == True %}
                    {% url 'tfat:report_a_tag_create_report' angler_id=angler.id as new_report_url %}
                {% else %}
                    {% url 'tfat:create_report' angler_id=angler.id as new_report_url %}
                {% endif %}

                <a class="btn btn-primary"
                   href="{{ new_report_url }}"
                   role="button">Create New Report</a>
            </div>
        {% endif %}

        
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Angler Details
                        {% if user.is_authenticated %}
                        <a class="btn btn-default btn-xs pull-right"
                           href="{% url 'tfat:update_angler' angler_id=angler.id %}"
                           role="button">Edit Details</a>
                        {% endif %}
                    </h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td>Address</td>
                            <td>{{ angler.address1 }}</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>{{ angler.address2 }}</td>
                        </tr>

                        <tr>
                            <td>Town</td>
                            <td>{{ angler.town }} ({{angler.province}})</td>
                        </tr>


                        <tr>
                            <td>Postal Code</td>
                            <td>{{ angler.postal_code }}</td>
                        </tr>


                        <tr>
                            <td>Phone Number</td>
                            <td>{{ angler.phone }}</td>
                        </tr>

                        <tr>
                            <td>e-mail</td>
                            <td>{{ angler.email }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>



        <div class="col-md-8" >

            {% if recoveries_with_latlon %}
            <script type="text/javascript">
             function map_init_basic (map, options) {
                 map.setZoom(7)

                     //var marker = L.MakiMarkers.icon({icon: "square", color: "#a0a", size: "s"});

                 {% for object in recoveries_with_latlon %}
                 L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}]).addTo(map).bindPopup('{{ object.popup_text|safe }}');

                 {% endfor %}

             }
            </script>
            {% endif %}

            {% leaflet_map "mymap" callback="window.map_init_basic" %}
            <br>
        </div>
    </div>


    {% if recoveries %}

    {% regroup recoveries by report.report_date as report_list %}
    {% for report in report_list %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <div class="row" >
                    <div  class="col-md-8" >
                        {{ report.grouper|date:"M d, Y" }}
                    </div>
                    {% with report.list|first as recovery1 %}

                        
                        {% if recovery1.report.follow_up_status %}
                            <div class="col-md-2" >
                                {% if recovery1.report.follow_up_status == 'requested' or recovery1.report.follow_up_status == 'initiated' %}
                            
                            <a class="btn btn-danger  btn-xs"
                               href="{% url 'tfat:create_report_followup' report_id=recovery1.report.id %}?next={{request.path}}"
                               role="button">Follow-up Required</a>

                        {% else %}
                            <button class="btn btn-success  btn-xs pull-right" role="button">Follow-up Complete</button>
                                {% endif %}
                            </div>
                    {% endif %}                            
                    
                    <div class="col-md-2" >
                        <a class="btn btn-default btn-xs pull-right"
                           href="{% url 'tfat:report_detail' report_id=recovery1.report.id %}"
                           role="button">Report Details</a>
                    </div>
                    {% endwith %}
                </div>

            </h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>TagID </th>
                        <th>TagDoc </th>
                        <th>Colour </th>
                        <th>Species</th>
                        <th>Tlen</th>
                        <th>Flen</th>
                        <th>Date </th>
                        <th>Location</th>
                    </tr>
                </thead>

                {% for item in report.list %}
                <tr>
                    <td> <a href="{% url 'tfat:tagid_detail_view' tagid=item.tagid %}">{{item.tagid}}</a> </td>
                    <td>{{ item.tagdoc }} </td>
                    <td>{{ item.tag_colour }} </td>
                    <td>{{ item.spc.common_name }} </td>
                    <td>{{ item.tlen }} </td>
                    <td>{{ item.flen }} </td>
                    <td>{{ item.recovery_date }} </td>
                    <td>{{ item.general_location }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}

  <div class="alert alert-warning">
    <h3>Oops!</h3>

    <p> There don't seem to be any tag reports associated with this
        person or organization.</p>

  </div>

{% endif %}

{% endblock %}
