<!doctype html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    </head>
    <body>

        <div class="container" >

            <h2>Build CLIPC Test</h2>

            <div class="panel panel-default">
                <div class="panel-body">

                    <form method="POST" id="clipc_form" action="">

                        <div id="clipc_input" class="form-group">
                            <label class="control-label" for="clipc">CLIPC:</label>
                            <input type="text" class="form-control" id="id_clipc" placeholder="clipc">
                        </div>
                        <div id="clipc_error" class="alert alert-danger" role="alert">
                            <div id="clipc_error_text">Invalid Clip Code.</div>
                        </div>

                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseClipC" aria-expanded="false" aria-controls="collapseClipC">
                            Clip Codes
                        </a>
                        <div class="collapse" id="collapseClipC">
                            <div class="well">


                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="clipc_group[]" value="0">No clip
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="clipc_group[]" value="1">Right Pectoral
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="2">Left Pectoral

                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="3">Right Pelvic
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="4">Left Pelvic
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="5">Adipose
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="6">Anal
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="7">Anterior Dorsal
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="8">Posterior Dorsal
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="9">Upper Caudal
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="A">Lower Caudal
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="B">Mid Caudal
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="C">Right Opercular

                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="clipc_group[]" value="D">Left Opercular
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="E">Right Maxillary
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="F">Left Maxillary
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>

                                <input type="checkbox" name="clipc_group[]" value="G">Dorsal
                            </label>
                        </div>


                            </div>  <!-- class well -->
                        </div> <!-- class collapse -->



                    </form>
                </div>
            </div>


        <script>

         $(document).ready(function(){

             $( "#clipc_error" ).hide();

             function checkForUnique(str){
                 //from:https://ujjaini.wordpress.com/2014/09/04/check-if-a-string-has-
                 //    all-unique-characters-in-javascript/
                 var hashtable = {};
                 for(var i=0,len=str.length;i<len;i++){
                     if (hashtable[str[i]] != null){
                         hashtable[str[i]] = 1;
                         return false;
                     }else{
                         hashtable[str[i]] = 0;
                     }
                 }
                 return true;
             }

             $('input[id="id_clipc"]').change (function () {
                 //if clipc changes we need to check its value, update
                 //the check boxes accordingly, and issue an error if
                 //clipc contains a value that does not correspond to to
                 //a clip code.  If all of the values in clipc
                 //correspond to actual clips, replace clipc with an
                 //equivalent value that is sorted correctly (13 not 31)

                 var clipc = $('input[id="id_clipc"]').val().toUpperCase();

                 // first we need to make sure that clipc is valid:
                 // to be valid, it can't have any characters that repeat
                 // can't have any characters that don't have a corresponding checkbox

                 var valid = checkForUnique(clipc);
                 var chkbox;

                 if (valid){
                     for (i = 0; i < clipc.length; i++) {
                         x = clipc[i];
                         chkbox = $('input[name="clipc_group[]"][value="' + x + '"]');

                         if (chkbox.length===0){
                             valid = false;
                             break;
                         }
                     }
                 }

                 if (valid===false){
                     $( "#clipc_error_text").text("'" + clipc + "' is not a valid Clip Code");
                     $( "#clipc_error" ).show();
                     $( "#clipc_input" ).addClass("has-error");
                     return;
                 } else {
                     $( "#clipc_error" ).hide();
                     $( "#clipc_input" ).removeClass("has-error");

                     if (clipc===''){
                         //reset all of the checkboxes to false
                         $('input:checkbox[name="clipc_group[]"]').prop('checked',false);

                     } else if (clipc.indexOf('0') !== -1) {
                         // if the clip code contains 0, reset everything but 0
                         $('input[id="clipc"]').val("0");
                         $('input:checkbox[name="clipc_group[]"][value!=0]').prop('checked',false);
                         $('input:checkbox[name="clipc_group[]"][value=0]').prop('checked', true);

                     } else {

                         var x;

                         //clear our old selections:
                         $('input:checkbox[name="clipc_group[]"]').prop('checked', false);
                         //check each of the new ones:
                         for (i = 0; i < clipc.length; i++) {
                             x = clipc[i].toString();
                             $('input:checkbox[name="clipc_group[]"][value="' + x + '"]').prop('checked', true);
                         }
                         //get the new clip code and update the input box:

                         var checkedValues = $('input:checkbox:checked').map(function() {
                             // return the value of each checked checkbox
                             return this.value;
                         }).get();

                         clips = checkedValues.join("");
                         $('input[id="id_clipc"]').val(clips);

                     }  //valid is true/false
                 }

             });


             $('input:checkbox[name="clipc_group[]"]').on('click change', function(e) {

                 // this function builds clip code from the check boxes and populate clipc
                 // input element.  clips are added squentially unless 0 is checked, in which
                 // the inputs are cleared/reset.

                 var checkedValues = $('input:checkbox:checked').map(function() {
                     // return the value of each checked checkbox
                     return this.value;
                 }).get();

                 //remove any residual errors from manual input:
                 $( "#clipc_error" ).hide();
                 $( "#clipc_input" ).removeClass("has-error");


                 var just_clicked = $(this).attr('value');
                 var clip0 = $('input:checkbox[name="clipc_group[]"][value="0"]').is(':checked');

                 if (clip0===true && just_clicked==='0'){
                 //unclipped is not checked and was just clicked
                     //set clip0 input to 0
                     $('input[id="id_clipc"]').val("0");
                     $('input:checkbox[name="clipc_group[]"][value!="0"]').prop('checked',false)
                     $('input:checkbox[name="clipc_group[]"][value="0"]').prop('checked', true)

                 } else if (clip0===false && just_clicked!=='0') {
                 //unclipped is not checked and another box was just clicked
                     //set clip0 input to None
                     clips = checkedValues.join("");
                     $('input[id="id_clipc"]').val(clips);

                 } else if (clip0===false && just_clicked==='0'){
                 //unclipped is already checked and was just clicked
                     //$('input[id="clipc"]').val("EMPTY");
                     var placeholder = $('input[id="clipc"]').attr('placeholder');
                     $('input[id="id_clipc"]').val(placeholder);

                 } else if (clip0===true && just_clicked!=='0') {
                 //unclipped is already checked and another box was just clicked
                     $('input:checkbox[name="clipc_group[]"][value="0"]').prop('checked',false);
                     $('input[id="id_clipc"]').val(just_clicked);
                 }


             });

         })

        </script>


    </body>
</html>
