{% extends "tfat/tfat_base.html" %}

{% load humanize %}


{% block content %}


  <div class="container">

      <div class="row">
          <h2>Tags applied in {{ project.prj_nm }} (<a href="#">{{ project.prj_cd }}</a> ) </h2>
      </div>

      <div class="row">
          <h3>N = {{ applied|length }}  </h3>
      </div>

      <p>A summary of tags recovered in this project can be found <a href= "{% url 'tfat:tags_recovered_in_project' project.slug %}" >here.</a></p>

    <br />

    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#applied" aria-controls="applied" role="tab" data-toggle="tab">Tagging Events (N = {{ applied|length }}) </a></li>
            <li role="presentation"><a href="#recovered" aria-controls="recovered" role="tab" data-toggle="tab">UGLMU Recovery Events (N = {{ recovered.nobs }})</a></li>
            <li role="presentation"><a href="#angler_recaps" aria-controls="angler_recaps" role="tab" data-toggle="tab">Non-MNR Recoveries (N = {{ angler_recaps.nobs }})</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="applied">
                <br />
                <p>These are tags that were applied in this project.</p>

                {% if applied %}
                <div class="row">
                    <div class="col-md-12">
                        <table class="tablesorter table table-condensed" id="myTable">
                            <thead>
                                <tr>
                                    <th>TagID</th>
                                    <th>Species</th>
                                    <th>Date</th>
                                    <th>Grid</th>
                                    <th>Type</th>
                                    <th>Colour</th>
                                    <th>Origin</th>
                                    <th>TagStat</th>
                                    <th class="metric">Length <br /> (mm)</th>
                                    <th class="imperial">Length <br />(in)</th>
                                    <th class="metric">Weight <br />(g)</th>
                                    <th class="imperial">Weight <br />(lbs)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in applied %}
                                <tr>
                                    <td> <a href="{% url 'tfat:tagid_detail_view' tagid=object.tagid %}">{{object.tagid}}</a> </td>
                                    <td> {{ object.spc.common_name }} </td>
                                    <td> {{ object.observation_date }} </td>
                                    <td> {{ object.grid }} </td>
                                    <td> {{ object.tag_type }} </td>
                                    <td> {{ object.tag_colour }} </td>
                                    <td> {{ object.tag_origin }} </td>
                                    <td> {{ object.tagstat }} </td>
                                    <td class="metric"> {{ object.tlen|intcomma }} </td>
                                    <td class="imperial"> {{ object.tlen_inches }} </td>
                                    <td class="metric"> {{ object.rwt|intcomma }} </td>
                                    <td class="imperial"> {{ object.pounds }} </td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                        <div class="checkbox pull-right">
                            <label>
                                <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                            </label>
                        </div>
                    </div>
                </div> <!-- class="row" -->
                {% else %}
                <p>Sorry no tags match that criteria.</p>
                <hr />
                <br />
                <br />

                {% endif %}
            </div><!-- applied tabpanel -->

            <div role="tabpanel" class="tab-pane" id="recovered">
        </br>
        {% if recovered.nobs %}
        <p>There are the subsequent recovery events for tags applied in {{ project.prj_cd }}.</p>
        <div class="row">
            <div class="col-md-12">
                <table class="tablesorter table table-condensed" id="myTable">
                    <thead>
                        <tr>
                            <th>TagID</th>
                            <th>Species</th>
                            <th>Date</th>
                            <th>Grid</th>
                            <th>Type</th>
                            <th>Colour</th>
                            <th>Origin</th>
                            <th>TagStat</th>
                            <th class="metric">Length <br /> (mm)</th>
                            <th class="imperial">Length <br />(in)</th>
                            <th class="metric">Weight <br />(g)</th>
                            <th class="imperial">Weight <br />(lbs)</th>
                            <th>Project Code</th>
                            <th>Project Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in recovered.queryset %}
                        <tr>
                            <td> <a href="{% url 'tfat:tagid_detail_view' tagid=object.tagid %}">{{object.tagid}}</a> </td>
                            <td> {{ object.common_name }} </td>
                            <td> {{ object.observation_date }} </td>
                            <td> {{ object.grid }} </td>
                            <td> {{ object.tag_type }} </td>
                            <td> {{ object.tag_colour }} </td>
                            <td> {{ object.tag_origin }} </td>
                            <td> {{ object.tagstat }} </td>
                            <td class="metric"> {{ object.tlen|intcomma }} </td>
                            <td class="imperial"> {{ object.tlen_inches }} </td>
                            <td class="metric"> {{ object.rwt|intcomma }} </td>
                            <td class="imperial"> {{ object.pounds }} </td>
                            {% if object.tagstat = 'A' %}
                            <td><a href="{% url 'tfat:tags_applied_in_project' object.project.slug %}">{{ object.prj_cd }}</a> </td>
                            {% else %}
                            <td><a href="{% url 'tfat:tags_recovered_in_project' object.project.slug %}">{{ object.prj_cd }}</a> </td>
                            {% endif %}
                            <td> {{ object.prj_nm }} </td
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
                <div class="checkbox pull-right">
                    <label>
                        <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                    </label>
                </div>
            </div>
        </div>
        {% else %}
        <p>Sorry no tags match that criteria.</p>
        <hr />
        <br />
        <br />
        {% endif %}
            </div><!-- recovered tabpanel -->




            <div role="tabpanel" class="tab-pane" id="angler_recaps">
    </br>
    {% if angler_recaps.nobs %}
    <p>There are the subsequent recovery events reported by the
        general public for tags applied in {{ project.prj_cd }}.</p>
    <div class="row">
        <div class="col-md-12">
            <table class="tablesorter table table-condensed" id="myTable">
                <thead>
                    <tr>
                        <th>TagID</th>
                        <th>Species</th>
                        <th>Date</th>
                        <th>Grid</th>
                        <th>Type</th>
                        <th>Colour</th>
                        <th>Origin</th>
                        <th class="metric">Length <br /> (mm)</th>
                        <th class="imperial">Length <br />(in)</th>
                        <th class="metric">Weight <br />(g)</th>
                        <th class="imperial">Weight <br />(lbs)</th>
                        <th>Returned By</th>
                        <th>General Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in angler_recaps.queryset %}
                    <tr>
                        <td> <a href="{% url 'tfat:tagid_detail_view' tagid=object.tagid %}">{{object.tagid}}</a> </td>
                        <td> {{ object.common_name }} </td>
                        <td> {{ object.observation_date }} </td>
                        <td> {{ object.grid }} </td>
                        <td> {{ object.tag_type }} </td>
                        <td> {{ object.tag_colour }} </td>
                        <td> {{ object.tag_origin }} </td>
                        <td class="metric"> {{ object.tlen|intcomma }} </td>
                        <td class="imperial"> {{ object.tlen_inches }} </td>
                        <td class="metric"> {{ object.rwt|intcomma }} </td>
                        <td class="imperial"> {{ object.pounds }} </td>

                        <td> <a href="{% url 'tfat:angler_reports' angler_id=object.reported_by_id %}">
                            {{ object.reported_by }}</a> </td>

                        <td> {{ object.general_location }} </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
            <div class="checkbox pull-right">
                <label>
                    <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                </label>
            </div>
        </div>
    </div>
    {% else %}
    <p>Sorry no tags match that criteria.</p>

    <hr />
    <br />
    <br />

    {% endif %}
            </div><!-- angler_recaps tabpanel -->







        </div>
    </div>


    <script type="text/javascript">

     $(".tablesorter").tablesorter({
         theme: 'bootstrap',
         widthFixed: true,
         showProcessing: true,
         headerTemplate: '{content} {icon}',
         widgets: ['zebra', 'uitheme', 'scroller'],
         widgetOptions: {
             scroller_height: 300,
             scroller_barWidth: 17,
             scroller_jumpToHeader: true,
             scroller_idPrefix: 's_'
         }
     });


     $(document).ready(function(){
         $("#myTable").tablesorter();
         $('.metric').show();
         $('.imperial').hide();
     }
     );


     function handleClick(cb) {
         $('.metric').toggle();
         $('.imperial').toggle();
     }

     $('#myTab a').click(function (e) {
         e.preventDefault()
             $(this).tab('show')
     })

    </script>

    {% endblock %}
