{% extends "tfat/tfat_base.html" %}

{% load leaflet_tags %}
{% load humanize %}

{% block extrahead %}

  {% leaflet_js %}
  {% leaflet_css %}

  <script src="/static/Leaflet.MakiMarkers.js"></script>

{% endblock %}

{% block content %}
  <div class="container">

      <div class="row">
          <h2>Tags recovered in {{ project.prj_nm }} (<a href="#">{{ project.prj_cd }}</a> ) </h2>
      </div>

      <div class="row">
          <h3>N = {{ recovered|length }}  </h3>
      </div>

      <p>A summary of tags applied in this project can be found
          <a href="{% url 'tfat:tags_applied_in_project' project.slug %}">here.</a></p>

      {% if recovered %}
      <script type="text/javascript">
       function map_init_basic (map, options) {

           {% if mls %}
           L.geoJson({{ mls|safe }}).addTo(map)
           {% endif %}

           var tagging_marker = L.MakiMarkers.icon({icon: "circle", color: "#b0b", size: "s"});
           var recap_marker = L.MakiMarkers.icon({icon: "square", color: "#0a0", size: "s"});
           var angler = L.MakiMarkers.icon({icon: "star", color: "#00f", size: "s"});

           {% if recovered %}
           {% for object in recovered %}
           {% if object.dd_lat and object.dd_lon %}
           L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}], {icon:recap_marker}).addTo(map)
                       .bindPopup('{{ object.popup_text|safe }}');
           {% endif %}
           {% endfor %}
           {% endif %}

           {% if angler_recaps.nobs %}
           {% for object in angler_recaps.queryset %}
           {% if object.has_latlon %}
           L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}], {icon: angler}).addTo(map)
               .bindPopup('{{ object.popup_text|safe }}');
           {% endif %}
           {% endfor %}
           {% endif %}


           {% if other_recoveries.nobs %}
           {% for object in other_recoveries.queryset %}
           {% if object.dd_lat and object.dd_lon %}
           L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}], {icon:recap_marker}).addTo(map)
                                 .bindPopup('{{ object.popup_text|safe }}');
           {% endif %}
           {% endfor %}
           {% endif %}

           {% if applied.nobs %}
           {% for object in applied.queryset %}
           {% if object.dd_lat and object.dd_lon %}
           L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}], {icon:tagging_marker}).addTo(map)
                        .bindPopup('{{ object.popup_text|safe }}');
           {% endif %}
           {% endfor %}
           {% endif %}

       }
      </script>

      {% endif %}

      {% leaflet_map "mymap" callback="window.map_init_basic" %}

    <br />

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#recapture" aria-controls="recapture" role="tab" data-toggle="tab">Recapture Events (N = {{ recovered|length }}) </a></li>

            <li role="presentation"><a href="#applied" aria-controls="applied" role="tab" data-toggle="tab">Application Events (N = {{ applied.nobs }})</a></li>

            <li role="presentation"><a href="#other_recoveries" aria-controls="other_recoveries" role="tab" data-toggle="tab">Other Recoveries (N = {{ other_recoveries.nobs }})</a></li>

            <li role="presentation"><a href="#angler_recaps" aria-controls="angler_recaps" role="tab" data-toggle="tab">Angler Recaps (N = {{ angler_recaps.nobs }})</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="recapture">
                <br />
                <p>These are tags that were recovered in this project.</p>

                {% if recovered %}
                <div class="row">
                    <div class="col-md-12">
                        {% include "tfat/_in_project_recaptures.html" with object_list=recovered %}
                        <div class="checkbox pull-right">
                            <label>
                                <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                            </label>
                        </div> <!-- checkbox -->
                    </div> <!-- col-md-12 -->
                </div>  <!-- row -->
                {% else %}
                <p>Sorry no tags match that criteria.</p>
                <hr />
                <br />
                <br />
                {% endif %}
            </div> <!-- panel -->
            <div role="tabpanel" class="tab-pane" id="applied">
        </br>
        <p>These are the original tagging events associated with the recaptures on the previous tab.</p>
        {% if applied.nobs %}
        <div class="row">
            <div class="col-md-12">
                {% include "tfat/_tags_applied_table.html" with applied=applied.queryset %}
                <div class="checkbox pull-right">
                    <label>
                        <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                    </label>
                </div>
            </div>
        </div>
        {% else %}
        <p>Sorry no tags match that criteria.</p>
        <hr />
        <br />
        <br />
        {% endif %}
            </div>

            <div role="tabpanel" class="tab-pane" id="other_recoveries">
    </br>
    <p>There are recoveries of the same tags in other UGLMU projects.</p>
    {% if other_recoveries.nobs %}
    <div class="row">
        <div class="col-md-12">

            {% with other_recoveries.queryset as object_list %}
                {% include  "tfat/_encounter_table.html" %}
            {% endwith %}
         
            <div class="checkbox pull-right">
                <label>
                    <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                </label>
            </div>
        </div>
    </div>
    {% else %}
    <p>Sorry no tags match that criteria.</p>
    <hr />
    <br />
    <br />
    {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane" id="angler_recaps">
    </br>
    <p>These are recaptures of the tags on the first tab returned by anlgers or the general public.</p>
    {% if angler_recaps.nobs %}
    <div class="row">
        <div class="col-md-12">
            {% with angler_recaps.queryset as object_list %}
                {% include "tfat/_recovery_table.html" %}
            {% endwith %}    
            <div class="checkbox pull-right">
                <label>
                    <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                </label>
            </div>
        </div>
    </div>
    {% else %}
    <p>None of the tags applied in this project have been reported by other agencies or the general public.</p>
    <hr />
    <br />
    <br />
    {% endif %}
            </div> <!-- tabpanel -->


        </div><!-- tabcontent -->
    </div><!-- tab panel -->

  <script type="text/javascript">

   $(".tablesorter").tablesorter({
       theme: 'bootstrap',
       widthFixed: true,
       showProcessing: true,
       headerTemplate: '{content} {icon}',
       widgets: ['zebra', 'uitheme', 'scroller'],
       widgetOptions: {
           scroller_height: 300,
           scroller_barWidth: 17,
           scroller_jumpToHeader: true,
           scroller_idPrefix: 's_'
       }
   });


   $(document).ready(function(){
       $("#myTable").tablesorter();
       $('.metric').show();
       $('.imperial').hide();
   }
   );


   function handleClick(cb) {
       $('.metric').toggle();
       $('.imperial').toggle();
   }

   $('#myTab a').click(function (e) {
       e.preventDefault()
           $(this).tab('show')
   })

  </script>

  {% endblock %}
