{% extends "tfat/tfat_base.html" %}

{% load leaflet_tags %}
{% load humanize %}

{% block extrahead %}

  {% leaflet_js %}
  {% leaflet_css %}

  <script src="/static/Leaflet.MakiMarkers.js"></script>

{% endblock %}

{% block content %}


  <div class="container">

      <div class="row">
          <h2>Tags applied in {{ project.prj_nm }} (<a href="#">{{ project.prj_cd }}</a> ) </h2>
      </div>

      <div class="row">
          <h3>N = {{ applied|length }}  </h3>
      </div>

      <p>A summary of tags recovered in this project can be found <a href= "{% url 'tfat:tags_recovered_in_project' project.slug %}" >here.</a></p>


      {% if applied %}
          <script type="text/javascript">
           function map_init_basic (map, options) {

               map.fitBounds({{mapBounds|safe}})
               
               {% if mls %}
               L.geoJson({{ mls|safe }}).addTo(map)
               {% endif %}


               var tagging_marker = L.MakiMarkers.icon({icon: "circle", color: "#b0b", size: "s"});
               var recap_marker = L.MakiMarkers.icon({icon: "square", color: "#0a0", size: "s"});
               var angler = L.MakiMarkers.icon({icon: "star", color: "#00f", size: "s"});

               {% for object in applied %}
               {% if object.has_latlon %}
               L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}], {icon:tagging_marker}).addTo(map)
                .bindPopup('{{ object.popup_text|safe }}');
               {% endif %}
               {% endfor %}

               {% if recovered.nobs %}
               {% for object in recovered.queryset %}
               {% if object.dd_lat and object.dd_lon %}
               L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}], {icon:recap_marker}).addTo(map)
                .bindPopup('{{ object.popup_text|safe }}');
               {% endif %}
               {% endfor %}
               {% endif %}

               {% if angler_recaps.nobs %}
               {% for object in angler_recaps.queryset %}
               {% if object.has_latlon %}
               L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}], {icon: angler}).addTo(map)
                .bindPopup('{{ object.popup_text|safe }}');
               {% endif %}
               {% endfor %}

               {% endif %}

           }
          </script>

          {% leaflet_map "mymap" callback="window.map_init_basic" %}

      {% else %}

      {% leaflet_map "mymap" callback="window.map_init_basic" %}

      {% endif %}

    <br />

    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#applied" aria-controls="applied" role="tab" data-toggle="tab">Tagging Events (N = {{ applied|length }}) </a></li>
            <li role="presentation"><a href="#recovered" aria-controls="recovered" role="tab" data-toggle="tab">UGLMU Recovery Events (N = {{ recovered.nobs }})</a></li>
            <li role="presentation"><a href="#angler_recaps" aria-controls="angler_recaps" role="tab" data-toggle="tab">Non-MNR Recoveries (N = {{ angler_recaps.nobs }})</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="applied">
                <br />
                <p>These are tags that were applied in this project.</p>

                {% if applied %}
                <div class="row">
                    <div class="col-md-12">

                        {% include "tfat/_tags_applied_table.html" %}
                        
                        <div class="checkbox pull-right">
                            <label>
                                <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                            </label>
                        </div>
                    </div>
                </div> <!-- class="row" -->
                {% else %}
                <p>Sorry no tags match that criteria.</p>
                <hr />
                <br />
                <br />

                {% endif %}
            </div><!-- applied tabpanel -->

            <div role="tabpanel" class="tab-pane" id="recovered">
        </br>
        {% if recovered.nobs %}
        <p>There are the subsequent recovery events for tags applied in {{ project.prj_cd }}.</p>
        <div class="row">
            <div class="col-md-12">

                {% with recovered.queryset as object_list %}
                    {%  include "tfat/_encounter_table.html" %}
                {%  endwith %}

                <div class="checkbox pull-right">
                    <label>
                        <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                    </label>
                </div>
            </div>
        </div>
        {% else %}
        <p>Sorry no tags match that criteria.</p>
        <hr />
        <br />
        <br />
        {% endif %}
            </div><!-- recovered tabpanel -->




            <div role="tabpanel" class="tab-pane" id="angler_recaps">
    </br>
    {% if angler_recaps.nobs %}
    <p>There are the subsequent recovery events reported by the
        general public for tags applied in {{ project.prj_cd }}.</p>
    <div class="row">
        <div class="col-md-12">

            {% with angler_recaps.queryset as object_list %}
                {% include "tfat/_recovery_table.html" with object_list=object_list %}
            {% endwith %}
          
            <div class="checkbox pull-right">
                <label>
                    <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                </label>
            </div>
        </div>
    </div>
    {% else %}
    <p>Sorry no tags match that criteria.</p>

    <hr />
    <br />
    <br />

    {% endif %}
            </div><!-- angler_recaps tabpanel -->







        </div>
    </div>


    <script type="text/javascript">

     $(".tablesorter").tablesorter({
         theme: 'bootstrap',
         widthFixed: true,
         showProcessing: true,
         headerTemplate: '{content} {icon}',
         widgets: ['zebra', 'uitheme', 'scroller'],
         widgetOptions: {
             scroller_height: 300,
             scroller_barWidth: 17,
             scroller_jumpToHeader: true,
             scroller_idPrefix: 's_'
         }
     });


     $(document).ready(function(){
         $("#myTable").tablesorter();
         $('.metric').show();
         $('.imperial').hide();
     }
     );


     function handleClick(cb) {
         $('.metric').toggle();
         $('.imperial').toggle();
     }

     $('#myTab a').click(function (e) {
         e.preventDefault()
             $(this).tab('show')
     })

    </script>

    {% endblock %}
