{% extends "tfat/tfat_base.html" %}

{% block extrahead %}

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


{% endblock extrahead %}


{% block content %}
<div class="container">

    <h2>Tag Recovery Event</h2>
    <div class="panel panel-default">
        <div class="panel-body">

            <form method="post" action="{{ request.path }}">
                {% csrf_token %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tag Recovery Details</h3>
                    </div>
                    <div class="panel-body">

                        <div id="tagid_row" class="row" >
                            <div class="col-md-3" >
                                <div class="form-group {% if form.tagid.errors %}has-error{% endif %}">
                                    {{ form.tagid.label_tag }}
                                    {{ form.tagid }}
                                    {% if form.tagid.errors %}
                                    {% for error in form.tagid.errors %}
                                    <div class="has-error help-block text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="form-group {% if form.spc.errors %}has-error{% endif %}">
                                    {{ form.spc.label_tag }}
                                    {{ form.spc }}
                                    {% if form.spc.errors %}
                                    {% for error in form.spc.errors %}
                                    <div class="has-error help-block text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="form-group {% if form.recovery_date.errors %}has-error{% endif %}">
                                    {{ form.recovery_date.label_tag }}
                                    {{ form.recovery_date }}
                                    {% if form.recovery_date.errors %}
                                    {% for error in form.recovery_date.errors %}
                                    <div class="has-error help-block text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-md-3" >
                                <div class="form-group {% if form.date_flag.errors %}has-error{% endif %}">
                                    {{ form.date_flag.label_tag }}
                                    {{ form.date_flag }}
                                    {% if form.date_flag.errors %}
                                    {% for error in form.date_flag.errors %}
                                    <div class="has-error help-block text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div> <!-- tagid row -->
                    </div>
                </div>  <!-- Details Panel -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tag Attributes</h3>
                    </div>
                    <div class="panel-body">

                        <div id="tagdoc_row" class="row" >
                            <div class="col-md-1 text-right" >
                                {{ form.tagdoc.label_tag }}
                            </div>
                            <div class="col-md-2" >
                                <div class="form-group {% if form.tagdoc.errors %}has-error{% endif %}">
                                    {{ form.tagdoc }}
                                    {% if form.tagdoc.errors %}
                                    {% for error in form.tagdoc.errors %}
                                    <div class="has-error help-block text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {% endif %}
                                <div id="tagdoc_length" class="alert alert-danger" role="alert">
                                    TAGDOC must be exactly 5 characters long.
                                </div>
                                </div>
                            </div>
                            <div class="col-md-2" >
                                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseTagdoc" aria-expanded="false" aria-controls="collapseTagdoc"> TAGDOC Helper</a>
                            </div>
                        </div>


                        <div class="collapse" id="collapseTagdoc">
                            <br />
                            <div class="well">
                                <div class="row" >
                                    <div class="col-md-3" >
                                        <div id="tagtype_panel" class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Tag Type</h4>
                                            </div>
                                            <div class="panel-body">

                                                {% for key, val in tag_types %}
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="tagtype_options" id="tagtype_options{{ key }}" value="{{ key }}">
                                                        {{ val }} ({{ key }})
                                                    </label>
                                                </div>
                                                {% endfor %}


                                                <div id="tagtype_error" class="alert alert-danger" role="alert">
                                                    <div id="tagtype_error_text">Invalid Tag Type.</div>
                                                </div>


                                            </div>
                                        </div>


                                    </div> <!-- col-md-3 -->

                                    <div class="col-md-3" >

                                        <div id="tagposition_panel" class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Tag Position</h4>
                                            </div>
                                            <div class="panel-body">
                                                {% for key, val in tag_position %}
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="tagposition_options" id="tagposition_options{{ key }}" value="{{ key }}">
                                                        {{ val }} ({{ key }})
                                                    </label>
                                                </div>
                                                {% endfor %}


                                                <div id="tagposition_error" class="alert alert-danger" role="alert">
                                                    <div id="tagposition_error_text">Invalid Tag Position.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" >

                                        <div id="tagorigin_panel" class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Agency</h4>
                                            </div>
                                            <div class="panel-body">

                                                {% for key, val in tag_origin %}
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="tagorigin_options" id="tagorigin_options{{ key }}" value="{{ key }}" >
                                                        {{ val }} ({{ key }})
                                                    </label>
                                                </div>
                                                {% endfor %}
                                                <div id="tagorigin_error" class="alert alert-danger" role="alert">
                                                    <div id="tagorigin_error_text">Invalid Agency Code.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" >
                                        <div id="tagcolour_panel" class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Colour</h4>
                                            </div>
                                            <div class="panel-body">

                                                {% for key, val in tag_colours %}
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio"  name="tagcolour_options" id="tagcolour_options{{ key }}" value="{{ key }}">
                                                        {{ val }} ({{ key }})
                                                    </label>
                                                </div>
                                                {% endfor %}

                                                <div id="tagcolour_error" class="alert alert-danger" role="alert">
                                                    <div id="tagcolour_error_text">Invalid Tag Colour.</div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div> <!-- well -->
                            </div> <!-- collapse -->






                        </div>
                </div> <!-- Tag Attributes Panel -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recovery Location</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group {% if form.general_name.errors %}has-error{% endif %}">
                            {{ form.general_name.label_tag }}
                            {{ form.general_name }}
                            {% if form.general_name.errors %}
                            {% for error in form.general_name.errors %}
                            <div class="has-error help-block text-danger">{{ error }}</div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group {% if form.specific_name.errors %}has-error{% endif %}">
                            {{ form.specific_name.label_tag }}
                            {{ form.specific_name }}
                            {% if form.specific_name.errors %}
                            {% for error in form.specific_name.errors %}
                            <div class="has-error help-block text-danger">{{ error }}</div>
                            {% endfor %}
                            {% endif %}
                        </div>

                        <p>LAT-LON TEMPLATE HERE</p>

                    </div><!-- Recovery Panel -->
                </div> <!-- Recovery Location Panel-->

                <div id="fish_row" class="row" >

                    <div id="fish_col" class="col-md-6" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Fish Attributes</h3>
                            </div>
                            <div class="panel-body">

                                <div id="fate_row" class="row" >
                                    <div class="col-md-3 text-right" >
                                        {{ form.fate.label_tag }}
                                    </div>
                                    <div class="col-md-3" >
                                        <div class="form-group {% if form.fate.errors %}has-error{% endif %}">

                                            {{ form.fate }}
                                            {% if form.fate.errors %}
                                            {% for error in form.fate.errors %}
                                            <div class="has-error help-block text-danger">{{ error }}</div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>


                                    <div class="col-md-6" >
                                        <label for="tag_removed">Tag Removed:</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="tag_removed" id="tag_removed_true" value="inches"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="tag_removed" id="tag_removed_false" value="false" checked> No
                                        </label>
                                    </div>
                                </div>

                                <div id="flen_row" class="row" >
                                    <div class="col-md-3 text-right" >
                                        {{ form.flen.label_tag }}
                                    </div>
                                    <div class="col-md-3" >
                                        <div class="form-group {% if form.flen.errors %}has-error{% endif %}">

                                            {{ form.flen }}
                                            {% if form.flen.errors %}
                                            {% for error in form.flen.errors %}
                                            <div class="has-error help-block text-danger">{{ error }}</div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <label class="radio-inline">
                                            <input type="radio" name="flen_Units" id="flen_units_inches" value="inches"> Inches
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="flen_Units" id="flen_units_mm" value="mm" checked> mm
                                        </label>
                                    </div>
                                </div>

                                <div id="tlen_row" class="row" >
                                    <div class="col-md-3 text-right" >
                                        {{ form.tlen.label_tag }}
                                    </div>
                                    <div class="col-md-3" >
                                        <div class="form-group {% if form.tlen.errors %}has-error{% endif %}">

                                            {{ form.tlen }}
                                            {% if form.tlen.errors %}
                                            {% for error in form.tlen.errors %}
                                            <div class="has-error help-block text-danger">{{ error }}</div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <label class="radio-inline">
                                            <input type="radio" name="tlen_Units" id="tlen_units_inches" value="inches"> Inches
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="tlen_Units" id="tlen_units_mm" value="mm" checked> mm
                                        </label>
                                    </div>
                                </div>

                                <div id="rwt_row" class="row" >
                                    <div class="col-md-3 text-right" >
                                        {{ form.rwt.label_tag }}
                                    </div>
                                    <div class="col-md-3" >
                                        <div class="form-group {% if form.rwt.errors %}has-error{% endif %}">

                                            {{ form.rwt }}
                                            {% if form.rwt.errors %}
                                            {% for error in form.rwt.errors %}
                                            <div class="has-error help-block text-danger">{{ error }}</div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <label class="radio-inline">
                                            <input type="radio" name="rwt_Units" id="rwt_units_lbs" value="lbs"> lbs
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rwt_Units" id="rwt_units_g" value="g" checked> g
                                        </label>
                                    </div>
                                </div>

                                <div id="sex_row" class="row" >
                                    <div class="col-md-3 text-right" >
                                        {{ form.sex.label_tag }}
                                    </div>
                                    <div class="col-md-3" >
                                        <div class="form-group {% if form.sex.errors %}has-error{% endif %}">

                                            {{ form.sex }}
                                            {% if form.sex.errors %}
                                            {% for error in form.sex.errors %}
                                            <div class="has-error help-block text-danger">{{ error }}</div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div id="clipc_row" class="row" >
                                    <div class="col-md-3 text-right" >
                                        {{ form.clipc.label_tag }}
                                    </div>
                                    <div class="col-md-3" >
                                        <div id="clipc_input" class="form-group {% if form.clipc.errors %}has-error{% endif %}">
                                            {{ form.clipc }}
                                            {% if form.clipc.errors %}
                                            {% for error in form.clipc.errors %}
                                            <div class="has-error help-block text-danger">{{ error }}</div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div id="clipc_error" class="alert alert-danger" role="alert">
                                            <div id="clipc_error_text">Invalid Clip Code.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" >
                                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseClipC" aria-expanded="false" aria-controls="collapseClipC">
                                            Show Clip Codes
                                        </a>
                                    </div>
                                </div>

                                <div class="collapse" id="collapseClipC">
                                    <div class="well">

                                        {% for key, value in clip_codes %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="clipc_group[]" value="{{ key }}">{{ value }} ({{ key }})
                                            </label>
                                        </div>
                                        {% endfor %}

                                    </div>  <!-- class well -->
                                </div> <!-- class collapse -->

                            </div> <!-- Fish Panel -->
                        </div> <!-- fish column -->
                    </div>

                    <div id="comments_column" class="col-md-6" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Additional Comments</h3>
                            </div>
                            <div class="panel-body">
                                <!-- <div id="fish_comments" class="col-md-6" > -->
                                <div class="form-group {% if form.comment.errors %}has-error{% endif %}">
                                    {{ form.comment }}
                                    {% if form.comment.errors %}
                                    {% for error in form.comment.errors %}
                                    <div class="has-error help-block text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div> <!-- Comments Panel -->
                    </div> <!-- Comments Column -->
                </div>

                <hr />


                <input class="btn btn-primary pull-right" type="submit" value="Submit">

            </form>


        </div>
    </div>
</div>



        <script>

         $(document).ready(function(){

             $( "#clipc_error" ).hide();
             //make sure all of the error messages are hidden when we load the form:
             $( "#tagdoc_length" ).hide();
             $( "#tagtype_error" ).hide();
             $( "#tagposition_error" ).hide();
             $( "#tagorigin_error" ).hide();
             $( "#tagcolour_error" ).hide();

             update_tagoptions();

             function check_len_tagdoc(tagdoc_val){
                 if (tagdoc_val.length != 5) {
                     //update tagdoc elements with bootstrap errors
                     $( "#tagdoc_input" ).addClass( "has-error");
                     $( "#tagdoc_length" ).show();
                     return false;
                 } else {
                     //clear any existing bootstrap errors
                     $( "#tagdoc_input" ).removeClass("has-error");
                     $( "#tagdoc_length" ).hide();
                     return true
                 }
             }

             function check_tagtype(tagtype){
                 if ($('input[name="tagtype_options"][value="' + tagtype + '"]').length){
                     $( "#tagtype_error" ).hide();
                     $( "#tagtype_panel" ).removeClass("has-error");
                 } else {
                     $( "#tagtype_error_text").text("'" + tagtype + "' is not a valid Tag Type.")
                         $( "#tagtype_error" ).show();
                     $( "#tagtype_panel" ).addClass("has-error");
                 }
             }


             function check_tagposition(tagposition){
                 if ($('input[name="tagposition_options"][value="' + tagposition + '"]').length){
                     $( "#tagposition_error" ).hide();
                     $( "#tagposition_panel" ).removeClass("has-error");
                 } else {
                     $( "#tagposition_error_text").text("'" + tagposition + "' is not a valid Tag Position")
                         $( "#tagposition_error" ).show();
                     $( "#tagposition_panel" ).addClass("has-error");

                 }
             }


             function check_tagcolour(tagcolour){
                 if ($('input[name="tagcolour_options"][value="' + tagcolour + '"]').length){
                     $( "#tagcolour_error" ).hide();
                     $( "#tagcolour_panel" ).removeClass("has-error");
                 } else {
                     $( "#tagcolour_error_text").text("'" + tagcolour + "' is not a valid Tag Colour")
                         $( "#tagcolour_error" ).show();
                     $( "#tagcolour_panel" ).addClass("has-error");
                 }
             }


             function check_tagorigin(tagorigin){
                 if ($('input[name="tagorigin_options"][value="' + tagorigin + '"]').length){
                     $( "#tagorigin_error" ).hide();
                     $( "#tagorigin_panel" ).removeClass("has-error");
                 } else {
                     $( "#tagorigin_error_text").text("'" + tagorigin + "' is not a valid Agency Code")
                         $( "#tagorigin_error" ).show();
                     $( "#tagorigin_panel" ).addClass("has-error");
                 }
             }


             $('input[type="radio"]').on('click change', function(e) {
                 /// if one of the tagdoc_radio buttons change, refresh the tagdoc input
                 var colour = $('input:radio[name="tagcolour_options"]:checked').val() || '?';
                 var position = $('input:radio[name="tagposition_options"]:checked').val()  || '?';
                 var origin = $('input:radio[name="tagorigin_options"]:checked').val() || '?';
                 var tagtype = $('input:radio[name="tagtype_options"]:checked').val() || '?';
                 var tagdoc = tagtype + position + origin + colour



                 $('input[id="id_tagdoc"]').val(tagdoc);

                 //clears any old errors that may be hanging around
                 var valid = check_len_tagdoc(tagdoc);
                 if (valid) {
                     check_tagtype(tagtype);
                     check_tagposition(position);
                     check_tagorigin(origin);
                     check_tagcolour(colour);
                 }

             });

             // if the tagdoc changes, parse it's content, verify that it
             // is 5 characters in length, and that each character corresponds
             // to one of radio button options - if so, update the radio
             // buttons, if not, give a meaningful error message.

             $('input[id="id_tagdoc"]').change (update_tagoptions);


             function update_tagoptions() {
                 var tagdoc_val = $('input[id="id_tagdoc"]').val().toUpperCase();

                 var valid = check_len_tagdoc(tagdoc_val);
                 if (valid===false){
                     return;
                 }

                 var tagtype = tagdoc_val[0];
                 var position = tagdoc_val[1];
                 var origin = tagdoc_val.substring(2,4);
                 var colour = tagdoc_val[4];

                 // now make sure that each of the tag attributes actually exist in the list.
                 // update the radio buttons accordingly and issue a meaninful error if not.
                 check_tagtype(tagtype);
                 $('input[name="tagtype_options"]').val([tagtype]);
                 check_tagposition(position);
                 $('input[name="tagposition_options"]').val([position]);
                 check_tagorigin(origin);
                 $('input[name="tagorigin_options"]').val([origin]);
                 check_tagcolour(colour);
                 $('input[name="tagcolour_options"]').val([colour]);

                 $('input[id="id_tagdoc"]').val(tagdoc_val);

             };




             function checkForUnique(str){
                 //from:https://ujjaini.wordpress.com/2014/09/04/check-if-a-string-has-
                 //    all-unique-characters-in-javascript/
                 var hashtable = {};
                 for(var i=0,len=str.length;i<len;i++){
                     if (hashtable[str[i]] != null){
                         hashtable[str[i]] = 1;
                         return false;
                     }else{
                         hashtable[str[i]] = 0;
                     }
                 }
                 return true;
             }

             $('input[id="id_clipc"]').change (function () {
                 //if clipc changes we need to check its value, update
                 //the check boxes accordingly, and issue an error if
                 //clipc contains a value that does not correspond to to
                 //a clip code.  If all of the values in clipc
                 //correspond to actual clips, replace clipc with an
                 //equivalent value that is sorted correctly (13 not 31)

                 var clipc = $('input[id="id_clipc"]').val().toUpperCase();

                 // first we need to make sure that clipc is valid:
                 // to be valid, it can't have any characters that repeat
                 // can't have any characters that don't have a corresponding checkbox

                 var valid = checkForUnique(clipc);
                 var chkbox;

                 if (valid){
                     for (i = 0; i < clipc.length; i++) {
                         x = clipc[i];
                         chkbox = $('input[name="clipc_group[]"][value="' + x + '"]');

                         if (chkbox.length===0){
                             valid = false;
                             break;
                         }
                     }
                 }

                 if (valid===false){
                     $( "#clipc_error_text").text("'" + clipc + "' is not a valid Clip Code");
                     $( "#clipc_error" ).show();
                     $( "#clipc_input" ).addClass("has-error");
                     return;
                 } else {
                     $( "#clipc_error" ).hide();
                     $( "#clipc_input" ).removeClass("has-error");

                     if (clipc===''){
                         //reset all of the checkboxes to false
                         $('input:checkbox[name="clipc_group[]"]').prop('checked',false);

                     } else if (clipc.indexOf('0') !== -1) {
                         // if the clip code contains 0, reset everything but 0
                         $('input[id="id_clipc"]').val("0");
                         $('input:checkbox[name="clipc_group[]"][value!=0]').prop('checked',false);
                         $('input:checkbox[name="clipc_group[]"][value=0]').prop('checked', true);

                     } else {

                         var x;

                         //clear our old selections:
                         $('input:checkbox[name="clipc_group[]"]').prop('checked', false);
                         //check each of the new ones:
                         for (i = 0; i < clipc.length; i++) {
                             x = clipc[i].toString();
                             $('input:checkbox[name="clipc_group[]"][value="' + x + '"]').prop('checked', true);
                         }
                         //get the new clip code and update the input box:

                         var checkedValues = $('input:checkbox[name="clipc_group[]"]:checked').map(function() {
                             // return the value of each checked checkbox
                             return this.value;
                         }).get();

                         clips = checkedValues.join("");
                         $('input[id="id_clipc"]').val(clips);

                     }  //valid is true/false
                 }

             });


             $('input:checkbox[name="clipc_group[]"]').on('click change', function(e) {

                 // this function builds clip code from the check boxes and populate clipc
                 // input element.  clips are added squentially unless 0 is checked, in which
                 // the inputs are cleared/reset.

                 var checkedValues = $('input:checkbox[name="clipc_group[]"]:checked').map(function() {
                     // return the value of each checked checkbox
                     return this.value;
                 }).get();

                 //remove any residual errors from manual input:
                 $( "#clipc_error" ).hide();
                 $( "#clipc_input" ).removeClass("has-error");


                 var just_clicked = $(this).attr('value');
                 var clip0 = $('input:checkbox[name="clipc_group[]"][value="0"]').is(':checked');

                 if (clip0===true && just_clicked==='0'){
                 //unclipped is not checked and was just clicked
                     //set clip0 input to 0
                     $('input[id="id_clipc"]').val("0");
                     $('input:checkbox[name="clipc_group[]"][value!="0"]').prop('checked',false)
                     $('input:checkbox[name="clipc_group[]"][value="0"]').prop('checked', true)

                 } else if (clip0===false && just_clicked!=='0') {
                 //unclipped is not checked and another box was just clicked
                     //set clip0 input to None
                     clips = checkedValues.join("");
                     $('input[id="id_clipc"]').val(clips);

                 } else if (clip0===false && just_clicked==='0'){
                 //unclipped is already checked and was just clicked
                     //$('input[id="id_clipc"]').val("EMPTY");
                     var placeholder = $('input[id="id_clipc"]').attr('placeholder');
                     $('input[id="id_clipc"]').val(placeholder);

                 } else if (clip0===true && just_clicked!=='0') {
                 //unclipped is already checked and another box was just clicked
                     $('input:checkbox[name="clipc_group[]"][value="0"]').prop('checked',false);
                     $('input[id="id_clipc"]').val(just_clicked);
                 }


             });

         })

        </script>



<script>
  $(function() {
    $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
  });
</script>



{% endblock %}
