{% extends "tfat/tfat_base.html" %}

{% load leaflet_tags %}
{% load humanize %}

{% block extrahead %}

  {% leaflet_js %}
  {% leaflet_css %}

  <script src="/static/Leaflet.MakiMarkers.js"></script>

{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        {% if partial %}
        <h2>Tags that contain '{{ partial }}' (N = {{ encounter_list|length }} ) </h2>
        {% else %}
        <h2>Encounters with tag number:{{ tagid }} (N = {{ encounter_list|length }} ) </h2>
        {% endif %}
    </div>

    {% if encounter_list|length > max_record_count %}
    <div class="alert alert-danger" role="alert">
        More than {{ max_record_count }} records where found that match that criteria. You may want to refine your criteria here <a href="#">Find a tag</a>
    </div>
    {% endif %}

    {% if spc_warn %}
    <div class="alert alert-warning" role="alert">
        <p>There appears to be more than one species associated with the records on this page. Interpret with caution.</p>
    </div>
    {% endif %}

    {% if tagdoc_warn %}
    <div class="alert alert-warning" role="alert">
        <p>There appears to be more than one tagdoc code associated with the records on this page. Interpret with caution.</p>
    </div>
    {% endif %}


    <br />


    {% if encounter_list %}
      <script type="text/javascript">
       function map_init_basic (map, options) {

           var applied = L.MakiMarkers.icon({icon: "circle", color: "#b0b", size: "s"});
           var recap = L.MakiMarkers.icon({icon: "square", color: "#0a0", size: "s"});
           var angler = L.MakiMarkers.icon({icon: "star", color: "#00f", size: "s"});

           {% if mls %}
           L.geoJson({{ mls|safe }}).addTo(map)
           {% endif %}

           {% for object in encounter_list %}

           L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}], {icon:{{ object.marker_class }}}).addTo(map)
               .bindPopup('{{ object.popup_text|safe }}');
           {% endfor %}


           {% if angler_recaps %}
           {% for object in angler_recaps %}

           L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}], {icon: angler}).addTo(map)
               .bindPopup('{{ object.popup_text|safe }}');
           {% endfor %}

           {% endif %}

       }
      </script>
      {% leaflet_map "mymap" callback="window.map_init_basic" %}

    {% else %}

      {% leaflet_map "mymap" callback="window.map_init_basic" %}

    {% endif %}


    {% if tag_paths %}

      {% for tag,pts in tag_paths.items %}
      <p>{{ tag }} - {{pts}} </p>
      {% endfor %}

     {% endif %}


    <br />
    {% if encounter_list %}
    <div class="row">
        <div class="col-md-12">
            <table class="tablesorter table" id="myTable">
                <thead>
                    <tr>
                        <th>TagID</th>
                        <th>Species</th>
                        <th>Date</th>
                        <th>Grid</th>
                        <th>Type</th>
                        <th>Colour</th>
                        <th>Origin</th>
                        <th>TagStat</th>
                        <th class="metric">Length <br /> (mm)</th>
                        <th class="imperial">Length <br />(in)</th>
                        <th class="metric">Weight <br />(g)</th>
                        <th class="imperial">Weight <br />(lbs)</th>
                        <th>Project Code/<br>Returned By</th>
                        <th>Project Name/Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in encounter_list %}
                    <tr>
                        <td> <a href="{% url 'tagid_detail_view' tagid=object.tagid %}">{{object.tagid}}</a> </td>
                        <td> {{ object.spc.common_name }} </td>
                        <td> {{ object.observation_date }} </td>
                        <td> {{ object.grid }} </td>
                        <td> {{ object.tag_type }} </td>
                        <td> {{ object.tag_colour }} </td>
                        <td> {{ object.tag_origin }} </td>
                        <td> {{ object.tagstat }} </td>
                        <td class="metric"> {{ object.tlen|intcomma }} </td>
                        <td class="imperial"> {{ object.inches }} </td>
                        <td class="metric"> {{ object.rwt|intcomma }} </td>
                        <td class="imperial"> {{ object.pounds }} </td>
                        {% if object.tagstat = 'A' %}
                        <td><a href="{% url 'tags_applied_in_project' object.project.slug %}">{{ object.project.prj_cd }}</a> </td>
                        {% else %}
                        <td><a href="{% url 'tags_recovered_in_project' object.project.slug %}">{{ object.project.prj_cd }}</a> </td>
                        {% endif %}
                        <td> {{ object.project.prj_nm }} </td
                    </tr>
                    {% endfor%}

                    {% for object in angler_recaps %}
                    <tr>
                        <td> <a href="{% url 'tagid_detail_view' tagid=object.tagid %}">{{object.tagid}}</a> </td>
                        <td> {{ object.spc.common_name }} </td>
                        <td> {{ object.observation_date }} </td>
                        <td> {{ object.grid }} </td>
                        <td> {{ object.get_tag_type_display }} </td>
                        <td> {{ object.get_tag_colour_display }} </td>
                        <td> {{ object.get_tag_origin_display }} </td>
                        <td>C</td>
                        <td class="metric"> {{ object.tlen|intcomma }} </td>
                        <td class="imperial"> {{ object.inches }} </td>
                        <td class="metric"> {{ object.rwt|intcomma }} </td>
                        <td class="imperial"> {{ object.pounds }} </td>
                        <td> {{ object.report.reported_by}} </td>
                        <td> {{ object.general_name }} </td>
                    </tr>
                    {% endfor%}



                </tbody>
            </table>
            <div class="checkbox pull-right">
                <label>
                    <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                </label>
            </div>
            {% else %}
            <p>Sorry no tags match that criteria.</p>
            {% endif %}
        </div>
    </div>
</div>


<script type="text/javascript">

    $(".tablesorter").tablesorter({
    theme: 'bootstrap',
    widthFixed: true,
    showProcessing: true,
    headerTemplate: '{content} {icon}',
    widgets: ['zebra', 'uitheme', 'scroller'],
    widgetOptions: {
    scroller_height: 300,
    scroller_barWidth: 17,
    scroller_jumpToHeader: true,
    scroller_idPrefix: 's_'
    }
    });


    $(document).ready(function(){
    $("#myTable").tablesorter();
    $('.metric').show();
    $('.imperial').hide();
    }
    );


    function handleClick(cb) {
    $('.metric').toggle();
    $('.imperial').toggle();
    }


</script>

{% endblock %}
