{% extends "tfat/tfat_base.html" %}

{% load leaflet_tags %}
{% load humanize %}

{% block extrahead %}

{% leaflet_js %}
{% leaflet_css %}

<script src="/static/Leaflet.MakiMarkers.js"></script>

{% endblock %}

{% block content %}


<div class="container">

    <div class="row">
        <h2>Tags applied in {{ year }}  (N = {{ applied|length }})</h2>
    </div>

      <p>A summary of tags recovered in {{ year }} can be found <a href= "{% url 'tfat:tags_recovered_in_year' year %}" >here.</a></p>


    {% if applied %}
    <script type="text/javascript">
     function map_init_basic (map, options) {

         var tagging_marker = L.MakiMarkers.icon({icon: "circle", color: "#b0b", size: "s"});
         var recap_marker = L.MakiMarkers.icon({icon: "square", color: "#0a0", size: "s"});
         var angler = L.MakiMarkers.icon({icon: "star", color: "#00f", size: "s"});

         {% for object in applied %}
         {% if object.dd_lat and object.dd_lon %}
         L.marker([{{ object.dd_lat }}, {{ object.dd_lon}}], {icon:tagging_marker}).addTo(map)
                     .bindPopup('{{ object.popup_text|safe }}');
         {% endif %}
         {% endfor %}


     }
    </script>

    {% leaflet_map "mymap" callback="window.map_init_basic" %}

    {% else %}

    {% leaflet_map "mymap" callback="window.map_init_basic" %}

    {% endif %}

    <br />

    {% if applied %}
    <div class="row">
        <div class="col-md-12">
            <table class="tablesorter table" id="myTable">
                <thead>
                    <tr>
                        <th>TagID</th>
                        <th>Species</th>
                        <th>Date</th>
                        <th>Grid</th>
                        <th>Type</th>
                        <th>Colour</th>
                        <th>Origin</th>
                        <th>TagStat</th>
                        <th class="metric">Length <br /> (mm)</th>
                        <th class="imperial">Length <br />(in)</th>
                        <th class="metric">Weight <br />(g)</th>
                        <th class="imperial">Weight <br />(lbs)</th>
                        <th>Project Code</th>
                        <th>Project Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in applied %}
                    <tr>
                        <td> <a href="{% url 'tfat:tagid_detail_view' tagid=object.tagid %}">{{object.tagid}}</a> </td>
                        <td> {{ object.spc.common_name }} </td>
                        <td> {{ object.observation_date }} </td>
                        <td> {{ object.grid }} </td>
                        <td> {{ object.tag_type }} </td>
                        <td> {{ object.tag_colour }} </td>
                        <td> {{ object.tag_origin }} </td>
                        <td> {{ object.tagstat }} </td>
                        <td class="metric"> {{ object.tlen|intcomma }} </td>
                        <td class="imperial"> {{ object.tlen_inches }} </td>
                        <td class="metric"> {{ object.rwt|intcomma }} </td>
                        <td class="imperial"> {{ object.pounds }} </td>
                        <td><a href="{% url 'tfat:tags_applied_in_project' object.project.slug %}">{{ object.project.prj_cd }}</a> </td>

                        <td> {{ object.project.prj_nm }} </td


                    </tr>
                    {% endfor%}
                </tbody>
            </table>
            <div class="checkbox pull-right">
                <label>
                    <input type='checkbox' onclick='handleClick(this);'>metric/imperial
                </label>
            </div>
        </div>
    </div> <!-- class="row" -->
    {% else %}
    <p>Sorry no tags match that criteria.</p>
    <hr />
    <br />
    <br />

    {% endif %}

</div>


    <script type="text/javascript">

     $(".tablesorter").tablesorter({
         theme: 'bootstrap',
         widthFixed: true,
         showProcessing: true,
         headerTemplate: '{content} {icon}',
         widgets: ['zebra', 'uitheme', 'scroller'],
         widgetOptions: {
             scroller_height: 300,
             scroller_barWidth: 17,
             scroller_jumpToHeader: true,
             scroller_idPrefix: 's_'
         }
     });


     $(document).ready(function(){
         $("#myTable").tablesorter();
         $('.metric').show();
         $('.imperial').hide();
     }
     );


     function handleClick(cb) {
         $('.metric').toggle();
         $('.imperial').toggle();
     }

     $('#myTab a').click(function (e) {
         e.preventDefault()
             $(this).tab('show')
     })

    </script>

    {% endblock %}
