{% extends "tfat/tfat_base.html" %}

<!-- {% block pages %}


{% endblock %}
-->

{% block content %}
<div class="container">

  <div class="row">
      <h2>Tags Applied {% if lake %} in {{lake.lake_name}} {% endif %} By Year </h2>
      {% include  "tfat/_lake_button_bar.html" %}
  </div>
  <br />
  {% if tags_applied %}
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <table class="table">
        {% for yr, cnt in tags_applied.items %}
        <tr>
            <td><a href="{% url 'tfat:tags_applied_in_year' yr %}{% if lake  %}?lake={{lake.abbrev}}{% endif %}">{{ yr }}</a> </td>
            <td>(N = {{ cnt }})</td>
        </tr>
        {% endfor%}
      </table>
      {% else %}
      <p>Sorry no tagging data available.</p>
      {% endif %}
    </div>
  </div>

</div>




{% endblock %}
